@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Inter:wght@400;600;700&family=Lato&family=Montserrat&family=PT+Serif&family=Poppins:wght@300;400;600&family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 15px;
  box-shadow: 2px 4px 4px #eee;
}

section {
  margin: 40px;
}

.header-image {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.jumbotron-msg {
  margin-left: 40px;
  margin-top: 40px;
}

h2 ~ p {
  margin-top: 16px;
  width: 50%;
  font-weight: 300;
}

.ads {
  display: flex;
  justify-content: space-around;
}

.box {
  position: relative;
}

.ads-img {
  width: 100%;
  height: 400px;
}

.tag {
  text-transform: uppercase;
  background-color: #fff;
  padding: 3px;
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 12px;
}

.rate {
  color: #918e9b;
}

.feature {
  color: #222;
}

.jumbotron {
  width: 90%;
}

.jumbotron-msg {
  width: 75%;
}

@media (max-width: 834px) {
  .jumbotron-msg {
    width: 90%;
  }
}

@media (max-width: 564px) {
  .jumbotron-msg {
    width: 100%;
  }
}

@media (max-width: 937px) {
  .ads-img {
    width: 90%;
  }
}

@media (min-width: 1000px) {
  .jumbotron {
    width: 70%;
  }
}
